@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightslategray;
    height: 100vh;
    width: 100vw;
}

main {
    position: absolute;
    top:50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

.expanded {
    width: 700px;
    height: 450px;
}

.header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}

.button-container {
    text-align: center;
    margin-top: 5px;
}

#array {
    background-color: white;
    height: 270px;
    width: 598px;
    margin: auto;
    position: relative;
    margin-top: 64px;
}
.block {
    width: 28px;
    background-color: #0092be;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
}
.block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}
.block_id2 {
    position: absolute;
    color: black;
    margin-top: 22px;
    width: 100%;
    text-align: center;
}
.block2 {
    width: 28px;
    background-color: darkgray;
    position: absolute;
    transition: 0.2s all ease;
}
.block_id3 {
    position: absolute;
    color: black;
    margin-top: 1px;
    width: 100%;
    text-align: center;
}
#count {
    height: 20px;
    width: 598px;
    margin: auto;
}